/* ------- Osmo [https://osmo.supply/] ------- */
/*  Osmo UI: https://slater.app/10324/23333.css 
 */
 @font-face {
    font-family: 'PP Neue Corp';
    src: url('https://cdn.prod.website-files.com/673af51dea86ab95d124c3ee/673b0f5784f7060c0ac05534_PPNeueCorp-TightUltrabold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  
  body {
    background-color: var(--color-neutral-300);
    color: var(--color-dark);
    font-size: var(--size-font);
    font-family: Arial, sans-serif; 
  }
  
  .cloneable {
    padding: var(--container-padding);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    position: relative;
  }
  
  .cursor {
    z-index: 1000;
    background-color: var(--color-primary);
    opacity: 0;
    pointer-events: none;
    color: var(--color-light);
    border-radius: .25em;
    padding: .3em .75em .4em;
    font-size: 1.15em;
    line-height: 1.5;
    transition: opacity .2s;
    position: fixed;
    inset: 0% auto auto 0%;
  }
  
  .cursor p{
    margin: 0px;
  }
  
  .button-row {
    grid-column-gap: .75em;
    grid-row-gap: .75em;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
  }
  
  .button {
    text-transform: uppercase;
    color: var(--color-neutral-800);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: PP Neue Corp, Arial, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    position: relative;
  }
  
  .button.secondary {
    color: var(--color-neutral-200);
  }
  
  .button-bg {
    z-index: 0;
    background-color: var(--color-light);
    border-radius: .5em;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
  }
  
  .button-text {
    z-index: 1;
    position: relative;
  }
  
  body:has( [data-cursor]:hover ) .cursor{ opacity: 1; }
  
  
  .button.secondary .button-bg{
      background-color: var(--color-neutral-700);
  }
  
  .button-bg{
      transition: transform 0.5s var(--cubic-default);
  }
  
  .button:hover .button-bg{
      transform: scale(0.95);
  }
  